
/* Responsive design is a web design approach aimed at creating web pages that adapt to different screen sizes and devices*/

/* @media (max-width: 600px) {...} CSS  inside this @media element will only be activated if screen size is 600 px or less*/ 

/* padding : 4px 10px means 4px is for vertical and 10px is for horizantal*/

/* padding : 4px 10px 15px 20px ----> top right bottom left*/

/* margin works the same way as padding*/ 

/* if we define a property on the outer element it will passed down to the inner elements
    for instance we set font-family to Arial in body element and it passed down to all inner elements  */

.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}

@media (max-width : 750px) {
    .video-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width : 751px) and (max-width : 999px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width : 1000px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.thumbnail {
    width: 100%;
}

.thumbnail-row {
    margin-bottom: 8px;
    position: relative;
}

.video-time {
    position: absolute;
    right:5px;
    bottom:8px;
    background-color: black;
    color:white;
    font-size: 12px;
    font-weight: 500;
    padding: 4px;
    border-radius: 2px;
}

.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.profile-picture {
    width: 36px;
    border-radius: 50px;
}

.video-title {
    margin-top: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 8px;
}

.video-author {
    font-size: 12px;
    color: rgb(96, 96, 96);
    margin-bottom: 4px;
}

.video-stats {
    font-size: 12px;
    color: rgb(96, 96, 96);
}
